@media screen and (max-width:992px){
    #Not-with_panther .first-row .heading{
        padding: 8% 6%;
        margin-left: 4px;
        margin-bottom: 5%; 
        font-size: 30px;
    }
    #Not-with_panther .first-row .paragraph{
    padding: 8% 0;
    font-size: 16px;

    }

    #Not-with_panther .second .left .heading{
        padding: 15px 5px;
        font-size: 25px;
        margin-top: 10px;
    
      }
      #Not-with_panther .second .left .pararaphy {
        padding: 29px 12px;
        font-size: 16px;
        
      }
      #Not-with_panther .second{
        margin-left: 2%;
        width: 96%;
      }
      #change .elements .right-image img{
          
      }
      
  }

  




  @media screen and (max-width:500px){

    #Not-with_panther .first-row .heading{
        padding: 8% 4%;
        margin-left: 4px;
        margin-bottom: 5%;
    }



  
  }
