.header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    
    background-color: $color-primary;
      
    
      
     @include flexbox();


        .logo{
            
        
        }
        .elements{
           
            margin-left: 33%;

           ul.ul-navs{
     @include flexbox();


            li.nav-list{
                   position: relative;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   height: 40px;
                   padding:  20px 10px;
                   border-radius: 4px;
                   &:hover{
                   background-color: $color-secondary;

                   }

     .dropdown-right{
         display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        z-index: 1;
        margin-top: 10px;
        background-color: #fff;
        border: 1px solid #dedcee;
        border-radius: 8px;
        width: max-content;
        max-height: 300px;
        overflow: auto;

         h6{
              font-size: 18px;
              color: $color-black;
              padding: 11px 16px;
         }
       
         .ul-list-right{

            ul{
                li.right-li{
                 a{
                    color: #222222;
                       font-size: 16px;
                       padding: 0px 25px;
                       line-height: 25px;

       
                  &:hover{
                   color: $color-thernary;
                
         }
                 }
                }
            }
          }
     }              
svg{
    width: 20px;
    height: 20px;
    margin-top: 1px;
    margin-left: 5px;

}
.ul-listt{
    position: absolute;
    top: 100%;
    left: 0%;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #dedcee;
    border-radius: 8px;
    width: 200px;
display: none;
   
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
      li{
          margin: 8px 15px;
          a{
              color: #222222;
              font-size: 16px;
           
             &:hover{
                 color: $color-thernary;
             }
          }

      }
  }
}
                

               
                
                   a{
                       font-size: 16px;
                   
                
                   }
               }
            
           }
        }
        .buttons{
           
          
            
              .loginBtn{
                  margin-left: 30px;
             margin-right: 15px;   
             padding: 12px 20px;
             border: 1px solid $color-thernary;
             border-radius: 5px;
             font-size: 14px;
             &:hover{
                    background-color: $color-secondary;
                 
             }
              }
              .booksDemoBtn{
                 background-color: $color-thernary;
                 padding: 12px 40px;
                 border: 1px solid $color-thernary;
                 border-radius: 5px;
                 font-size: 14px;
              }
        }
        // .hmbgr{
        //   display: none;
        //     img{
            

        //     }
        // }

    
}

.footerr{
    background-color:$color-primary;
    padding: 50px 40px;

    .logoo{
        @media screen and (max-width:992px){
            margin: 20px 0;            
        }
        @media screen and (max-width:500px){
            margin: 30px 0;            
        }
        a{
            img{
                 width: 75px;
                 height: 75px;
            };
        }
    }
    .headerrr{
        

         h2{
color: $color-p;
font-size: 16px;
margin: 0px 0px 16px;
font-family: "Rajdhani-Light";
text-transform: uppercase;
@media screen and (max-width:500px){
    margin: 70px 0;            
}



         }
    }
    .ul-list{
        
        ul{
            font-size: 10px;
            li{
                margin: 0px 0px 16px;

                a{
                    // font-size: 16px;
                    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 110%;
    font-weight: 300;
    text-decoration: none;
   
    object-fit: fill;
                }
            }
        }
    }


    .h2{
        h2{
            color: $color-p;
            font-size: 16px;
            margin: 0px 0px 16px;
            font-family: "Rajdhani-Light";
        }
    }
    .ph{
   max-width: 75%;

        p{
   font-size: 16px;
   min-height: auto;
   min-width: auto;
   margin-top: 10px;
   padding-bottom: 20px;
   color: $color-p;
        }
    }
   .col-lg-4 .formm{
       
      form{
          .name-input{
              input{
                height: 48px;
                margin-bottom: 16px;
                border-radius: 4px;
                color: $color-primary;
                font-size: 17px;
                font-weight: 400;
                border-color: $color-primary;
                padding: 0 10px;
                width: 65%;


              }
          }
         
          .email{
              input{
                  width: 65%;
                height: 48px;
                margin-bottom: 16px;
                border-radius: 4px;
                color: #0f0d1e;
                font-size: 17px;
                font-weight: 400;
                padding: 0 10px;
                border-color: $color-primary;
    
              }
           
          }
          .submit-btn{
              input{
                background-color: $color-thernary;
                padding: 12px 32px;
                
                border-radius: 5px;
                font-size: 17px;
                color: white;
                border-color: $color-primary;
    
              }
          }
         
      }  
    }
    .row{
        .col-lg-12{
            .copyright{
                
                    p{ 
                       font-size: 16px;
                       color: $color-p;
                       text-align: center;
                       
                        }
            }
            .social-links{
                margin: 12px 47%;
                a{
                
               
                    img{
                        width: 30px;
                        height: 30px;

                    }
                }
            }
        }
    }
}



@media screen and (max-width:992px){

    .footerr .row .col-lg-12 .social-links {
        display: flex;
    }
    .footerr {
        padding: 10px 40px;
    }
    
}



@media screen and (max-width:500px){
    .footerr .col-lg-4 .formm form .submit-btn input{
        margin-left: 20px;
    }
    .footerr{
        padding: 0;
    }
    .footerr .headerrr h2 {
        margin: 30px 0;
    }

    .footerr .ul-list ul li{
        margin: 0px 0px 10px;
    }
    .footerr .col-lg-4 .formm form .name-input input
    {
        width: 85%;
        margin-left: 20px;
    }
    .footerr .col-lg-4 .formm form .email input{
        width: 85%;
        margin-left: 20px;
  
  }
  .footerr .h2 h2{
      margin-left: 20px;
  }
  .footerr .ph p {
      margin-left: 20px;
  }


  .footerr .col-lg-4 .formm form .submit-btn input{
    padding: 12px 167px;
  }
}