  
  #country{
    background-color: $color-primary;
    padding-top: 50px;
    padding-bottom: 80px;


    .contentt{
        padding: 25px;
        margin-top: 63px;
        h1{
            font-size: 39px;
            text-align: left;
            margin-bottom: 24px;
        }
        p{
            max-width: 80%;
            min-height: auto;
            min-width: auto;
            margin-top: 10px;
            color: #adaabf;
            font-size: 20px;
            line-height: 30px
        }
    }
    .image-country{
        img{
 width: 100%;
        }
    }
}



#countrys-name{
    background-color: $color-secondary;
    padding: 50px 160px;
    .ul-list{
        padding: 30px 80px;
        ul{
            li{
                  font-size: 16px;
                  padding: 3px 5px;
            }
            .horizontal-divider{
                position: static;
                z-index: auto;
                display: block;
                overflow: visible;
                width: 50%;
                height: 1px;
                min-height: 0;
                min-width: 0;
                margin-top: 16px;
                margin-bottom: 16px;
                padding-top: 0;
                padding-right: 0;
                padding-left: 0;
                grid-auto-columns: 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                -ms-grid-columns: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                -ms-grid-rows: auto auto;
                grid-template-rows: auto auto;
                background-color: #5b557f;
                opacity: 1;
                color: transparent;
                text-align: left;
                -o-object-fit: fill;
                object-fit: fill;
            }
        }
    }
}

#Champion-talent{
    background-color: $color-primary;
    padding: 150px;
    
    .headd{
        padding: 30px;
        h1{
        font-size: 35px;
        text-align: center;
        }
    }
    .bookDemo{
        margin-top: 50px;
        display: flex;
    justify-content: center;
    align-self: center;
        a{
            background-color: $color-thernary;
            padding: 12px 20px;
            border: 1px solid $color-thernary;
            border-radius: 5px;
            font-size: 14px; 
        }
    }
}
#videoSection{
    background-color:$color-secondary;
    padding: 140px 80px;
    .head{
        h2{
         font-size: 33px;
         margin-bottom: 30px;
        }
    }
    .video-text{
       
        p{
            font-size: 18px;
            color: $color-p;
            margin-right: 16px;
        }
        a{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            img{

            }
        }
    }
    .cardd{
        margin-top: 16px;

        .icon{
            img{


            }
        }
        .text{
            h3{
                margin-top: 20px;
                margin-bottom: 20px;
 font-size: 20px;
            }
            p{
   font-size: 16px;
   color: $color-p;
   margin-bottom: 10px;
            }
            .learnmore{
                width: 70%;
                display: flex;
                
                align-items: center;
                a{
                font-size: 16px ;

                color: $color-thernary;
                margin-right: 10px;
                }
                img{

                }
            }
        }
    }
}


@media screen and (max-width:992px){

    #countrys-name{
        padding: 20px 12px;
    }
    #countrys-name .ul-list ul li {
        font-size: 15px;
    padding:0px;
    }
    #Champion-talent {
        padding: 60px;
    }
    #videoSection .video-text{
        margin-bottom: 20px;
    }
    #videoSection{
        padding: 100px 50px;
    }
    #videoSection .cardd{
        margin-top: 50px;
    }
    #videoSection{
        padding: 80px 40px;
    }

}
@media screen and (max-width:500px){

    #countrys-name{
        padding: 25px 0px;
    }
    #countrys-name .ul-list ul li {
        font-size: 15px;
    padding: 0px 6px;
    text-align: center;
    }
    
#countrys-name .ul-list ul .horizontal-divider{
    width: 111%;
    margin-top: 29px;
    margin-bottom: 22px;
}
#Champion-talen{
    padding: 28px;
}




}