#ourBlog{
    background-color: $color-primary;
  padding: 100px 0;
    .our-blog{
        .hs{
            h5{
               margin: 0 auto;
                font-family: Rajdhani,sans-serif;
                color: #ff9a83;
                font-size: 18px;
                line-height: 1.5;
                font-weight: 500;
                text-align: center;
                letter-spacing: 1.5px;
                margin-bottom: 45px;
            
            }
            h1{
                align-self: center;
                font-family: Inter,sans-serif;
                color: #fff;
                font-size: 48px;
                line-height: 120%;
                font-weight: 600;
                text-align: center;
                margin-bottom: 45px;
            }
        }
        .button-elements{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 73%;
            margin: 0 auto;


            
            a{
                background-color: #322b5f;
                padding: 20px 29px;
                border: 1px solid #322b5f;
                border-radius: 5px;
                font-size: 17px;
                margin: 6px;

                &:hover{
                    background-color: $color-title-text; 
                }
                &.active{
                    background-color: $color-primary;
                    border: 1px solid  $color-thernary;

                }  
    
            }
        }
    }
    .element{
        background-color: $color-secondary;
        border-radius: 15px;
        width: 67%;
        margin-top: 40px;

        
        margin: 20px 111px;

        transform: translateY(10px);
    
       overflow: hidden;
       transition: 1.5s;
        &:hover{
          transform: translateY(-10px);
        }
        .image{
        position: relative;
        height: 300px;
            
            img{
          width: 100%;
          height: 100%;
            }
             .buttons{
                 position: absolute;
                 top:80%;
                 left: 7%;
           a{
            background-color: $color-thernary;
            padding: 12px 20px;
            border: 1px solid $color-thernary;
            border-radius: 5px;
            font-size: 14px;
          }
            }
        }
        .writte{
        
            .h2{
                margin-top: 32px;
                padding: 38px 35px;
                font-size: 20px;
            }
            .p3{
                padding: 0px 35px;
               
                font-size: 16px;
                color: $color-p;
            }
        }
        .dates{
           display: flex;
            img{
            
                margin: 10px 30px;
                width: 35px;
                height: 35px;
    
    
            }
            .p-date{
            font-size: 16px;
            margin-top: 15px;
            }
        }
         
      }
      .row{
          h5{
            margin-left: 50%;
            font-size: 15px;
            text-align: center;
            margin-top: 50px;
            
          }
         
             
            a{
                background-color: $color-thernary;
                padding: 12px 32px;
                border: 1px solid $color-thernary;
                border-radius: 5px;
                font-size: 17px;
                margin: 6px;
                margin-top: 50px;
            }
        
      }
}


@media screen and (max-width:992px){
    #ourBlog .our-blog .hs h5 {
        font-size: 16px;
    }
    #ourBlog .our-blog .hs h1{
        font-size: 45px;
    }
    #ourBlog .our-blog .button-elements{
        width: 102%;
    }
                
 }

 @media screen and (max-width:500px){
    #ourBlog .our-blog .hs h1{
        font-size: 40px;
    } 
    #ourBlog .our-blog .button-elements {
        display:  inline-grid;
    }  
    #ourBlog .element{
        margin: 28px 28px;
    }         
 }

